<!-- <button (click)="navigateToCreateCycle()" mat-raised-button color="primary">
  Cadastrar Ciclo de Pagamento
</button> -->

<table mat-table [(dataSource)]="vehiclesTable" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let vehicle">{{ vehicle._id }}</td>
  </ng-container>
  <ng-container matColumnDef="modelo">
    <th mat-header-cell *matHeaderCellDef>Modelo</th>
    <td mat-cell *matCellDef="let vehicle">{{ vehicle.modelo }}</td>
  </ng-container>
  <ng-container matColumnDef="placa">
    <th mat-header-cell *matHeaderCellDef>Modelo</th>
    <td mat-cell *matCellDef="let vehicle">{{ vehicle.placa }}</td>
  </ng-container>
  <ng-container matColumnDef="ano">
    <th mat-header-cell *matHeaderCellDef>Modelo</th>
    <td mat-cell *matCellDef="let vehicle">{{ vehicle.ano }}</td>
  </ng-container>
  <ng-container matColumnDef="cadastrado">
    <th mat-header-cell *matHeaderCellDef>Data do Ciclo</th>
    <td mat-cell *matCellDef="let vehicle">{{ vehicle.criadoEm }}</td>
  </ng-container>
  <!---
    <ng-container matColumnDef="cadastrado">
    <th mat-header-cell *matHeaderCellDef>Data do Ciclo</th>
    <td mat-cell *matCellDef="let cycle">{{ cycle.date | date:"MMMM 'de' yyyy" }}</td>
    "dd/MM/yyyy"
  </ng-container>
    <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Alterar</th>
    <td mat-cell *matCellDef="let cycle">
      <a mat-raised-button color="accent" routerLink="cycle/create/{{ cycle._id }}">
        <span class="material-icons"> edit </span>
      </a>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Remover</th>
    <td mat-cell *matCellDef="let cycle">
      <button (click)="delete(cycle._id)" mat-raised-button color="warn">
        <span class="material-icons"> delete </span>
      </button>
    </td>
  </ng-container> -->
  <tr mat-header-row *matHeaderRowDef="vehiclesColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: vehiclesColumns"></tr>
</table>
