<mat-sidenav-container>
  <mat-sidenav mode="side" opened fixedInViewport="true" fixedTopGap="64" fixedBottomGap="64">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <span class="material-icons">
          list
        </span>
        Listar
      </a>
      <a mat-list-item routerLink="/vehicle/create">
        <span class="material-icons">
          post_add
        </span>
        Cadastrar
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="conteudo">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
